.event-metabox {
    position: relative;

    button {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .metabox-images {
        width: 100%;
        min-height: 400px;
        max-width: 100%;
        padding: 15px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .image {
            position: relative;
            width: 150px;
            min-width: 150px;
            height: 150px;
            object-fit: cover;
            border: solid thin transparent;
            margin-right: 15px;
            margin-bottom: 15px;

            user-select: none;
            
            .close {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 0;
                transform: translate(50%,-50%);
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background-color: white;
                cursor: pointer;
                text-align: center;
                border: solid thin grey;
                opacity: 0.1;
                transition: opacity 400ms ease;
            }

            &:hover .close {
                opacity: 1;
            }
        }
    }

    .gallery-buttons {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        position:sticky;
        bottom:0;
        z-index:11;
        padding: 0.7rem;
        background-color: rgba($color: #fff, $alpha: 0.4);
        backdrop-filter: blur(16px);

        button {
            padding: 0.4rem 1rem;
            font-weight: bold;
        }

        button:not(:last-of-type) {
            margin-right: .6rem;
        }
    }

}