.event-metabox {
    .import-ids-modal {
        position: absolute;
        padding: 2rem;
        inset: 0;
        display: none;
        background-color: rgba($color: #fff, $alpha: 0.3);
        backdrop-filter: blur(16px);
        z-index: 100;
        overflow: hidden;

        .import-ids-modal-content {
            position:sticky;
            top: 2rem;
        }

        button, input {
            cursor: pointer;
        }

        textarea {
            margin-top: 1rem;
            width: 100%;
        }

        &.show {
            display: block;
        }
    }
}