.event-metabox {
	table {
		border-collapse: collapse;
		width: 100%;

		label {
			width: 100%;
		}

		td > input {
			width: 100%;
		}

		td button {
			cursor: pointer;
		}

		td input[type=text],
		td input[type=text]:focus,
		td input[type=text]:focus-within,
		td input[type=text]:active {
			border: none;
			outline: none;
			box-shadow: none;

		}
	}
}