.event-metabox {
	table {
		border-collapse: collapse;
		width: 100%;

		tr > td:first-of-type {
			padding-right: 1rem;
		}

		tr > td > label {
			width: 100%;
			text-align: right;
			display: block;
			padding-right: 1rem;
		}

		td > input {
			width: 100%;
		}

		td button {
			cursor: pointer;
		}

		td input[type=text],
		td input[type=text]:focus,
		td input[type=text]:focus-within,
		td input[type=text]:active {
			border: none;
			outline: none;
			box-shadow: none;

		}
	}
}